// SPDX-License-Identifier: GPL-2.0
// Copyright (c) 2018 Nuvoton Technology tomer.maimon@nuvoton.com
// Copyright 2018 Google, Inc.

/dts-v1/;
#include "nuvoton-npcm845.dtsi"
#include "nuvoton-npcm845-pincfg-evb.dtsi"
#include <dt-bindings/thermal/thermal.h>

/ {
	model = "Nuvoton npcm845 Development Board (Device Tree)";
	compatible = "nuvoton,npcm845";

	aliases {
		serial0 = &serial0;
		serial1 = &serial1;
		serial2 = &serial2;
		serial3 = &serial3;
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		ethernet2 = &gmac2;
		ethernet3 = &gmac3;
		mdio-gpio0 = &mdio0;
		mdio-gpio1 = &mdio1;
		udc0 = &udc0;
		udc1 = &udc1;
		udc2 = &udc2;
		udc3 = &udc3;
		udc4 = &udc4;
		udc5 = &udc5;
		udc6 = &udc6;
		udc7 = &udc7;
		udc8 = &udc8;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c5 = &i2c5;
		i2c6 = &i2c6;
		i2c7 = &i2c7;
		i2c8 = &i2c8;
		i2c9 = &i2c9;
		i2c10 = &i2c10;
		i2c11 = &i2c11;
		i2c12 = &i2c12;
		i2c13 = &i2c13;
		i2c14 = &i2c14;
		i2c15 = &i2c15;
		i2c16 = &i2c16;
		i2c17 = &i2c17;
		i2c18 = &i2c18;
		i2c19 = &i2c19;
		i2c20 = &i2c20;
		i2c21 = &i2c21;
		i2c22 = &i2c22;
		i2c23 = &i2c23;
		i2c24 = &i2c24;
		i2c25 = &i2c25;
		i2c26 = &i2c26;
		spi0 = &spi1;
		fiu0 = &fiu0;
		fiu1 = &fiu1;
		fiu2 = &fiu3;
		fiu3 = &fiux;
	};

	chosen {
		stdout-path = &serial0;
	};

	memory {
		reg = <0x0 0x0 0x0 0x40000000>;
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
			<&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		vcd_memory: framebuffer@0x35000000 {
			reg = <0x0 0x35000000 0x0 0x600000>;
			no-map;
		};

		gfx_memory: framebuffer@0x1f000000 {
			reg = <0x0 0x1F000000 0x0 0xc00000>, <0x0 0x1B000000 0x0 0xc00000>,
			<0x0 0x3F000000 0x0 0xc00000>, <0x0 0x37000000 0x0 0xc00000>,
			<0x0 0x7F000000 0x0 0xc00000>, <0x0 0x6F000000 0x0 0xc00000>;
			no-map;
		};

		ece_memory: framebuffer@0x35600000 {
			reg = <0x0 0x35600000 0x0 0x600000>;
			no-map;
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_vref_1_225: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "vref_1_225v";
			regulator-min-microvolt = <1225000>;
			regulator-max-microvolt = <1225000>;
		};
	};

	ahb {
		/*rstc: rstc@f0801000 {
			nuvoton,sw-reset-number = <2>;
		};*/

		mc: memory-controller@f0824000 {
			compatible = "nuvoton,npcm8xx-sdram-edac";
			reg = <0x0 0xf0824000 0x0 0x1000>;
			interrupts = <GIC_SPI 25 IRQ_TYPE_LEVEL_HIGH>;
			status = "okay";
		};

		gmac0: eth@f0802000 {
			phy-mode = "rgmii-id";
			snps,eee-force-disable;
			status = "okay";
		};

		gmac1: eth@f0804000 {
			phy-mode = "rgmii-id";
			snps,eee-force-disable;
			status = "okay";
		};

		mdio0: mdio@0 {
			compatible = "virtual,mdio-gpio";
			gpios = <&gpio1 25 GPIO_ACTIVE_HIGH>,
				<&gpio1 26 GPIO_ACTIVE_HIGH>; 
			#address-cells = <1>;
			#size-cells = <0>;

			phy0: ethernet-phy@1 {
			};
		};

		gmac2: eth@f0806000 {
			phy-mode = "rmii";
			pinctrl-names = "default";
			pinctrl-0 = <&r1_pins
					&r1oen_pins>;
			phy-handle = <&phy0>;
			status = "okay";
		};

		mdio1: mdio@1 {
			compatible = "virtual,mdio-gpio";
			gpios = <&gpio2 27 GPIO_ACTIVE_HIGH>, 
				<&gpio2 28 GPIO_ACTIVE_HIGH>; 
			#address-cells = <1>;
			#size-cells = <0>;

			phy1: ethernet-phy@1 {
			};
		};

		gmac3: eth@f0808000 {
			phy-mode = "rmii";
			pinctrl-names = "default";
			pinctrl-0 = <&r2_pins
					&r2oen_pins>;
			phy-handle = <&phy1>;
			status = "okay";
		};

		aes: aes@f0858000 {
			status = "okay";
		};

		fiu0: spi@fb000000 {
			status = "okay";
			spi-nor@0 {
				compatible = "jedec,spi-nor";
				#address-cells = <1>;
				#size-cells = <1>;
				reg = <0>;
				spi-max-frequency = <5000000>;
				partitions@80000000 {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;
					bbuboot1@0 {
						label = "bb-uboot-1";
						reg = <0x0000000 0x80000>;
						read-only;
						};
					bbuboot2@80000 {
						label = "bb-uboot-2";
						reg = <0x0080000 0x80000>;
						read-only;
						};
					envparam@100000 {
						label = "env-param";
						reg = <0x0100000 0x40000>;
						read-only;
						};
					spare@140000 {
						label = "spare";
						reg = <0x0140000 0xC0000>;
						};
					kernel@200000 {
						label = "kernel";
						reg = <0x0200000 0x400000>;
						};
					rootfs@600000 {
						label = "rootfs";
						reg = <0x0600000 0x700000>;
						};
					spare1@D00000 {
						label = "spare1";
						reg = <0x0D00000 0x200000>;
						};
					spare2@0F00000 {
						label = "spare2";
						reg = <0x0F00000 0x200000>;
						};
					spare3@1100000 {
						label = "spare3";
						reg = <0x1100000 0x200000>;
						};
					spare4@1300000 {
						label = "spare4";
						reg = <0x1300000 0x0>;
					};
				};
			};
		};

		fiu1: spi@fb002000 {
			/*pinctrl-0 = <&spi1_pins>, <&spi1quad_pins>;*/
			status = "okay";
			spi-nor@0 {
				compatible = "jedec,spi-nor";
				#address-cells = <1>;
				#size-cells = <1>;
				spi-rx-bus-width = <2>;
				reg = <0>;
				spi-max-frequency = <5000000>;
				partitions@A0000000 {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;
					system1@0 {
						label = "spi1-system1";
						reg = <0x0 0x0>;
					};
				};
			};
		};

		fiu3: spi@c0000000 {
			pinctrl-0 = <&spi3_pins>, <&spi3quad_pins>;
			status = "okay";
			spi-nor@0 {
				compatible = "jedec,spi-nor";
				#address-cells = <1>;
				#size-cells = <1>;
				reg = <0>;
				spi-max-frequency = <5000000>;
				partitions@A0000000 {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;
					system1@0 {
						label = "spi3-system1";
						reg = <0x0 0x0>;
					};
				};
			};
		};

		fiux: spi@fb001000 {
			spix-mode;
		};

		ehci1: usb@f0828100 {
			status = "okay";
		};

		ehci2: usb@f082a100 {
			status = "okay";
		};

		sdhci0: sdhci@f0842000 {
			status = "okay";
		};

		vdma: vdma@e0800000 {
			status = "okay";
		};

		pcimbox: pcimbox@f0848000 {
			status = "okay";
		};

		udc0:udc@f0830000 {
			status = "okay";
		};

		udc1:udc@f0831000 {
			status = "okay";
		};

		udc2:udc@f0832000 {
			status = "okay";
		};

		udc3:udc@f0833000 {
			status = "okay";
		};

		udc4:udc@f0834000 {
			status = "okay";
		};

		udc5:udc@f0835000 {
			status = "okay";
		};

		udc6:udc@f0836000 {
			status = "okay";
		};

		udc7:udc@f0837000 {
			status = "okay";
		};

		udc8:udc@f0838000 {
			status = "okay";
		};

		/*udc9:udc@f0839000 {
			status = "okay";
		};*/

		vcd:vcd@f0810000 {
			status = "okay";
			memory-region = <&vcd_memory>, <&gfx_memory>;
		};

		ece:ece@f0820000 {
			status = "okay";
			memory-region = <&ece_memory>;
		};

		apb {
			lpc_kcs: lpc_kcs@7000 {
				kcs1: kcs1@0 {
					status = "okay";
				};

				kcs2: kcs2@0 {
					status = "okay";
				};

				kcs3: kcs3@0 {
					status = "okay";
				};
			};

			lpc_host: lpc_host@7000 {
				lpc_bpc: lpc_bpc@40 {
					monitor-ports = <0x80>;
					status = "okay";
				};
			};

			serial0: serial@0 {
				status = "okay";
			};

			serial1: serial@1000 {
				status = "okay";
			};

			serial2: serial@2000 {
				status = "disabled";
			};

			serial3: serial@3000 {
				status = "disabled";
			};

			rng: rng@b000 {
				status = "okay";
			};

			adc: adc@c000 {
				/* enable external vref */
				/*vref-supply = <&reg_vref_1_225>;*/
				#io-channel-cells = <1>;
				status = "okay";
			};

			watchdog1: watchdog@901c {
				nuvoton,reset-priority = <155>;
				nuvoton,card-reset-type = "porst";
				nuvoton,ext1-reset-type = "wd1";
				nuvoton,ext2-reset-type = "sw2";
				status = "okay";
			};

			tmps: tmps@188000 {
				status = "okay";
			};

			sgpio2: sgpio@102000 {
				status = "okay";
				bus-frequency = <16000000>;
				nin_gpios = <64>;
				nout_gpios = <64>;
				gpio-line-names =
					"POWER_OUT","RESET_OUT","","","","","","",
					"g_led","","","","","","","",
					"","","","","","","","",
					"","","","","","","","",
					"","","","","","","","",
					"","","","","","","","",
					"","","","","","","","",
					"","","","","","","","",
					"","","PS_PWROK","POST_COMPLETE","POWER_BUTTON","RESET_BUTTON","","",
					"","","","","","","","",
					"","","","","","","","",
					"","","","","","","","",
					"","","","","","","","",
					"","","","","","","","",
					"","","","","","","","",
					"","","","","","","","";

			};

			pwm_fan:pwm-fan-controller@103000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pwm0_pins &pwm1_pins
					&pwm2_pins &pwm3_pins
					&pwm4_pins &pwm5_pins
					&pwm6_pins &pwm7_pins
					&fanin0_pins &fanin1_pins
					&fanin2_pins &fanin3_pins>;
				#address-cells = <1>;
				#size-cells = <0>;
				fan@0 {
					reg = <0x00>;
					fan-tach-ch = /bits/ 8 <0x00 0x01>;
					cooling-levels = <127 255>;
				};
				fan@1 {
					reg = <0x01>;
					fan-tach-ch = /bits/ 8 <0x02 0x03>;
					cooling-levels = /bits/ 8 <127 255>;
				};
				fan@2 {
					reg = <0x02>;
					fan-tach-ch = /bits/ 8 <0x04 0x05>;
					cooling-levels = /bits/ 8 <127 255>;
				};
				fan@3 {
					reg = <0x03>;
					fan-tach-ch = /bits/ 8 <0x06 0x07>;
					cooling-levels = /bits/ 8 <127 255>;
				};
				fan@4 {
					reg = <0x04>;
					fan-tach-ch = /bits/ 8 <0x08 0x09>;
					cooling-levels = /bits/ 8 <127 255>;
				};
				fan@5 {
					reg = <0x05>;
					fan-tach-ch = /bits/ 8 <0x0A 0x0B>;
					cooling-levels = /bits/ 8 <127 255>;
				};
				fan@6 {
					reg = <0x06>;
					fan-tach-ch = /bits/ 8 <0x0C 0x0D>;
					cooling-levels = /bits/ 8 <127 255>;
				};
				fan@7 {
					reg = <0x07>;
					fan-tach-ch = /bits/ 8 <0x0E 0x0F>;
					cooling-levels = /bits/ 8 <127 255>;
				};
			};

			spi1: spi@201000 {
				cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
				status = "okay";
				Flash@0 {
					compatible = "jedec,spi-nor";
					reg = <0x0>;
					#address-cells = <1>;
					#size-cells = <1>;
					spi-max-frequency = <1000000>;
					partition@0 {
						label = "spi1_spare0";
						reg = <0x0 0x0>;
					};
				};
			};

			jtm1: jtm@208000 {
				status = "okay";
			};

			i3c0: i3c@fff10000 {
				status = "okay";
				i2c-scl-hz = <400000>;
				i3c-scl-hz = <4000000>;
				sensor0@0x5c {
					compatible = "st,lps22hh";
					reg = <0x5c 0x0 0x20>;
				};
			};

			i3c1: i3c@fff11000 {
				status = "okay";
				i2c-scl-hz = <400000>;
				i3c-scl-hz = <4000000>;
			};
		};
	};

	mcu_flash {
		compatible = "nuvoton,npcm845-mcu-flash";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <1>;
		dev-num = <0>;    /* /dev/mcu0 */
		mfsel-offset = <0x260>; /* MFSEL1 */
		smb-offset = <1>; /* SMBSEL offset of MFSEL */
		mcu-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>,     /* GPIO29: SCLK */
			<&gpio0 28 GPIO_ACTIVE_HIGH>,     /* GPIO28: MOSI */
			<&gpio2 12 GPIO_ACTIVE_HIGH>,      /* GPIO76: MISO */
			<&gpio2 13 GPIO_ACTIVE_LOW>;      /* GPIO77: RESET# */
	};

 	pinctrl: pinctrl@f0800000 {
		pinctrl-names = "default";
		pinctrl-0 = <
				&jtag2_pins
				&lpc_pins
				&pin240_slew
				&pin241_slew
				&pin242_slew
				&pin243_slew
				&spix_pins
				&pin4_slew
				&pin5_slew
				&pin6_slew
				&pin7_slew>;
	};
};

&peci0 {
	cmd-timeout-ms = <1000>;
	pull-down = <0>;
	host-neg-bit-rate = <15>;
	status = "okay";

	intel-peci-dimmtemp@30 {
		compatible = "intel,peci-client";
		reg = <0x30>;
		status = "okay";
	};
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
	tmp100@48 {
		compatible = "tmp100";
		reg = <0x48>;
		status = "okay";
	};
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "okay";
};

&i2c11 {
	status = "okay";
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};

&i2c14 {
	status = "okay";
};

&i2c15 {
	status = "okay";
};

&i2c16 {
	status = "okay";
};

&i2c17 {
	status = "okay";
};

&i2c18 {
	status = "okay";
};

&i2c19 {
	status = "okay";
};

&i2c20 {
	status = "okay";
};

&i2c21 {
	status = "okay";
};

&i2c22 {
	status = "okay";
};

&i2c23 {
	status = "okay";
};

&i2c24 {
	status = "okay";
};

&i2c25 {
	status = "okay";
};

&i2c26 {
	status = "okay";
};
