// SPDX-License-Identifier: GPL-2.0
// Copyright (c) 2018 Nuvoton Technology tomer.maimon@nuvoton.com
// Copyright 2018 Google, Inc.

/dts-v1/;
#include "nuvoton-npcm845.dtsi"
#include <dt-bindings/thermal/thermal.h>

/ {
	model = "Nuvoton npcm845 Development Board (Device Tree)";
	compatible = "nuvoton,npcm845";

	aliases {
		serial0 = &serial0;
		serial1 = &serial1;
		serial2 = &serial2;
		serial3 = &serial3;
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		ethernet2 = &gmac2;
		ethernet3 = &gmac3;
		udc0 = &udc0;
		udc1 = &udc1;
		udc2 = &udc2;
		udc3 = &udc3;
		udc4 = &udc4;
		udc5 = &udc5;
		udc6 = &udc6;
		udc7 = &udc7;
		udc8 = &udc8;
		spi0 = &spi1;
		fiu0 = &fiu0;
		fiu1 = &fiu1;
		fiu2 = &fiu3;
		fiu3 = &fiux;
	};

	chosen {
		stdout-path = &serial0;
	};

	memory {
		reg = <0x0 0x0 0x0 0x8000000>;
	};

	ahb {

		gmac0: eth@f0802000 {
			phy-mode = "rgmii-id";
			snps,eee-force-disable;
			status = "okay";
		};

		gmac1: eth@f0804000 {
			phy-mode = "rgmii-id";
			snps,eee-force-disable;
			status = "okay";
		};

		gmac2: eth@f0806000 {
			phy-mode = "rmii";
			status = "okay";
		};

		gmac3: eth@f0808000 {
			phy-mode = "rmii";
			status = "okay";
		};

		aes: aes@f0858000 {
			status = "okay";
		};

		fiu0: spi@fb000000 {
			status = "okay";
			spi-nor@0 {
				compatible = "jedec,spi-nor";
				#address-cells = <1>;
				#size-cells = <1>;
				spi-rx-bus-width = <2>;
				reg = <0>;
				spi-max-frequency = <5000000>;
				partitions@80000000 {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;
					bbuboot1@0 {
						label = "bb-uboot-1";
						reg = <0x0000000 0x80000>;
						read-only;
						};
					bbuboot2@80000 {
						label = "bb-uboot-2";
						reg = <0x0080000 0x80000>;
						read-only;
						};
					envparam@100000 {
						label = "env-param";
						reg = <0x0100000 0x40000>;
						read-only;
						};
					spare@140000 {
						label = "spare";
						reg = <0x0140000 0xC0000>;
						};
					kernel@200000 {
						label = "kernel";
						reg = <0x0200000 0x400000>;
						};
					rootfs@600000 {
						label = "rootfs";
						reg = <0x0600000 0x700000>;
						};
					spare1@D00000 {
						label = "spare1";
						reg = <0x0D00000 0x200000>;
						};
					spare2@0F00000 {
						label = "spare2";
						reg = <0x0F00000 0x200000>;
						};
					spare3@1100000 {
						label = "spare3";
						reg = <0x1100000 0x200000>;
						};
					spare4@1300000 {
						label = "spare4";
						reg = <0x1300000 0x0>;
					};
				};
			};
		};

		fiu1: spi@fb002000 {
			/*pinctrl-0 = <&spi1_pins>, <&spi1quad_pins>;*/
			status = "okay";
			spi-nor@0 {
				compatible = "jedec,spi-nor";
				#address-cells = <1>;
				#size-cells = <1>;
				spi-rx-bus-width = <2>;
				reg = <0>;
				spi-max-frequency = <5000000>;
				partitions@A0000000 {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;
					system1@0 {
						label = "spi1-system1";
						reg = <0x0 0x0>;
					};
				};
			};
		};

		fiu3: spi@c0000000 {
			pinctrl-0 = <&spi3_pins>, <&spi3quad_pins>;
			status = "okay";
			spi-nor@0 {
				compatible = "jedec,spi-nor";
				#address-cells = <1>;
				#size-cells = <1>;
				spi-rx-bus-width = <2>;
				reg = <0>;
				spi-max-frequency = <5000000>;
				partitions@A0000000 {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;
					system1@0 {
						label = "spi3-system1";
						reg = <0x0 0x0>;
					};
				};
			};
		};

		fiux: spi@fb001000 {
			spix-mode;
		};

		ehci1: usb@f0828100 {
			status = "okay";
		};

		ehci2: usb@f082a100 {
			status = "okay";
		};

		sdhci0: sdhci@f0842000 {
			status = "okay";
		};

		vdma: vdma@e0800000 {
			status = "okay";
		};

		pcimbox: pcimbox@f0848000 {
			status = "okay";
		};

		udc0:udc@f0830000 {
			status = "okay";
		};

		udc1:udc@f0831000 {
			status = "okay";
		};

		udc2:udc@f0832000 {
			status = "okay";
		};

		udc3:udc@f0833000 {
			status = "okay";
		};

		udc4:udc@f0834000 {
			status = "okay";
		};

		udc5:udc@f0835000 {
			status = "okay";
		};

		udc6:udc@f0836000 {
			status = "okay";
		};

		udc7:udc@f0837000 {
			status = "okay";
		};

		udc8:udc@f0838000 {
			status = "okay";
		};

		/*udc9:udc@f0839000 {
			status = "okay";
		};*/

		apb {
			/*rstc: rstc@f0801000 {
				nuvoton,sw-reset-number = <2>;
			};*/

			lpc_kcs: lpc_kcs@7000 {
				kcs1: kcs1@0 {
					status = "okay";
				};

				kcs2: kcs2@0 {
					status = "okay";
				};

				kcs3: kcs3@0 {
					status = "okay";
				};
			};

			lpc_host: lpc_host@7000 {
				lpc_bpc: lpc_bpc@40 {
					monitor-ports = <0x80>;
					status = "okay";
				};
			};

			serial0: serial@0 {
				status = "okay";
			};

			serial1: serial@1000 {
				status = "disabled";
			};

			serial2: serial@2000 {
				status = "disabled";
			};

			serial3: serial@3000 {
				status = "disabled";
			};

			rng: rng@b000 {
				status = "okay";
			};

			adc: adc@c000 {
				status = "okay";
			};

			watchdog1: watchdog@901c {
				nuvoton,reset-priority = <155>;
				nuvoton,card-reset-type = "porst";
				nuvoton,ext1-reset-type = "wd1";
				nuvoton,ext2-reset-type = "sw2";
				status = "okay";
			};

			tmps: tmps@188000 {
				status = "okay";
			};

			pwm_fan:pwm-fan-controller@103000 {
				status = "okay";
				#address-cells = <1>;
				#size-cells = <0>;
				fan@0 {
					reg = <0x00>;
					fan-tach-ch = /bits/ 8 <0x00 0x01>;
					cooling-levels = <127 255>;
				};
				fan@1 {
					reg = <0x01>;
					fan-tach-ch = /bits/ 8 <0x02 0x03>;
					cooling-levels = /bits/ 8 <127 255>;
				};
				fan@2 {
					reg = <0x02>;
					fan-tach-ch = /bits/ 8 <0x04 0x05>;
					cooling-levels = /bits/ 8 <127 255>;
				};
				fan@3 {
					reg = <0x03>;
					fan-tach-ch = /bits/ 8 <0x06 0x07>;
					cooling-levels = /bits/ 8 <127 255>;
				};
				fan@4 {
					reg = <0x04>;
					fan-tach-ch = /bits/ 8 <0x08 0x09>;
					cooling-levels = /bits/ 8 <127 255>;
				};
				fan@5 {
					reg = <0x05>;
					fan-tach-ch = /bits/ 8 <0x0A 0x0B>;
					cooling-levels = /bits/ 8 <127 255>;
				};
				fan@6 {
					reg = <0x06>;
					fan-tach-ch = /bits/ 8 <0x0C 0x0D>;
					cooling-levels = /bits/ 8 <127 255>;
				};
				fan@7 {
					reg = <0x07>;
					fan-tach-ch = /bits/ 8 <0x0E 0x0F>;
					cooling-levels = /bits/ 8 <127 255>;
				};
			};

			spi1: spi@201000 {
				cs-gpios = <&gpio2 17 GPIO_ACTIVE_LOW>;
				status = "okay";
				Flash@0 {
					compatible = "jedec,spi-nor";
					reg = <0x0>;
					#address-cells = <1>;
					#size-cells = <1>;
					spi-max-frequency = <1000000>;
					partition@0 {
						label = "spi1_spare0";
						reg = <0x0 0x0>;
					};
				};
			};
		};
	};

 	pinctrl: pinctrl@f0800000 {
		pinctrl-names = "default";
		pinctrl-0 = <	&iox1_pins
				&jtag2_pins
				&lpc_pins
				&spix_pins>;
	};
};

&peci0 {
	cmd-timeout-ms = <1000>;
	pull-down = <0>;
	host-neg-bit-rate = <15>;
	status = "okay";

	intel-peci-dimmtemp@30 {
		compatible = "intel,peci-client";
		reg = <0x30>;
		status = "okay";
	};
};
